//variables à réutiliser dans les autres fichiers scss

//Polices
$font-stack: 'Arial', sans-serif;

//Couleurs
$couleur-tuto: #a8af4c;
$couleur-btn-tuto: #747930;
$couleur-aparte: #8c59c6;
$couleur-apprendre: #4ac2bc;

//Autres variables 
